%meta{:charset => "utf-8"}
%meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
%meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}
%link{:href => "/assets/css/app.min.css?v=2", :rel => "stylesheet"}
%link{:rel => "shortcut icon", :href => "/assets/favicon.ico"}
